<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>hello world</h1>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/searches/new">search</a></li>
        </nav>  
    </header>
        <section>
            <h2><%=book[0]%></h2>
            <img src="<%=book[4]%>">
            <h3><%=book[1]%></h3>
            <li><%=book[2]%></li>
            <li><%=book[3]%></li>
            <li><%#=book[4]%></li>
            <li><%#=book[5]%></li>
        </section>
   
</body>
</html>